services:
  neo4j:
    image: neo4j:5.26
    container_name: lorecraft-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/changeme
      - NEO4J_PLUGINS=[]
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
